#slogan {
	margin-left: 10%;
    margin-right: 10%;
}

#fillerBar {
	width: 100%;
	height: auto;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#fillerBar li {
	float: right;
}

#fillerBar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuBar {
	position: fixed;
	width: 100%;
	height: auto;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menuBar li {
	float: right;
}

#menuBar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuBar li a:hover {
    background-color: #111;
}

.sticky {
  position: fixed;
  width: 100%
}

#quienesSomosTitle {
	text-align: center;
}

#quienesSomosIMG {
	max-height: 30%;
	width: 50%;
	height: auto;
	align-self: center;
}

#menuFiller {
	height: 80px;
}

#logoDiv {
	width: calc(100%/6);
	margin: auto;
}

#logoFiller {
	width: calc(100%/6);
}

#sloganHolder {
	width: calc(2*100%/3);
}

#logoIMG {
	max-height: 40%;
	width: 40%;
	height: auto;
}

#headerRow {
	display: inline-flex;
	margin-top: auto;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	align-content: center;
}

#slogan {
	font-size: 130%;
}

#header {
	margin: 0 auto;
	padding: 5px;
}

#mainView {
	padding: 2%;
}

#div2 p {
	font-size: 200%;
}
