#registroIMG{
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

#seguimientoIMG{
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

#analisisIMG{
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

.servicio{
  margin-top: 1%;
  margin-bottom: 1%;
  border: 5px solid #cecece;
}

#wrapper p {
    text-align: justify;
    text-justify: inter-word;
}

#rowSeguimiento {
	width: 100%;
	display: inline-flex;
}

#wrappeRS {
	padding-left: 3%;
	width: 50%;
}

#seguimientoIMG {
	width: 55%;
	height: auto;
	float: right;
}

#wrapperIMGRS {
	width: auto;
}

#rowRegistro {
	width: 100%;
	display: inline-flex;
}

#wrappeRR {
	padding-right: 3%;
	width: 35%;
	float: right;
}

#registroIMG {
	width: 55%;
	height: auto;
}

#wrapperIMGRR {
	width: auto;
}