#registroIMG{
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

#seguimientoIMG{
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

#analisisIMG{
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

.servicios{
  margin-top: 20px;
  border: 5px solid #cecece;
}

.desc {
    text-align: justify;
    text-justify: inter-word;
}