{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>LGS Consultores</title>
  <meta charset="utf-8">
  <!-- viewport for dynamic scale of website -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- Angular JS and Router -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'website/index/index.css' %}">
  <link rel="stylesheet" href="{% static 'website/index/inicio.css' %}">
  <link rel="stylesheet" href="{% static 'website/index/registrarIncapacidad.css' %}">
  <link rel="stylesheet" href="{% static 'website/index/analisisDatos.css' %}">

  <!-- Angular controllers -->
  <script src={% static "website/index/indexCtrl.js"%}></script>

  <!-- JS Functions -->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="indexCtrl">
    <ul id="menuBar">
      <li><a href="#!">Inicio</a></li>
      <li><a href="admin">Registrar incapacidad</a></li>
      <li><a href="#!verIncapacidades">Ver incapacidades</a></li>
      <li><a href="#!analisis" onclick="chart();">Analisis de datos</a></li>
    </ul>
    <ul id="fillerBar">
      <li><a href="#!">Inicio</a></li>
    </ul>
    <div class="jumbotron text-center" id="header">
      <div id="headerRow">
        <div id="logoDiv">
          <img src="{% static "website/index/Logo.png" %}" alt="Logo" id="logoIMG"/>
        </div>
        <div id="sloganHolder">
          <h1 id="mainTitle">LGS Consultores</h1>
          <div class="wrapper">
            <p id="slogan">Resolvemos el problema de recobro de incapacidades y mejoramos el ambiente laboral de las empresas de mediano y gran tamaño</p>
          </div> 
        </div>
        <div id="logoFiller"></div>
      </div>
    </div>
    <div id="mainView" ng-view></div>
  </div>
  <script type="text/javascript">
    function chart() {
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
          text: "Motivos Incapacidades Registradas"
        },
        data: [{
          type: "pie",
          startAngle: 240,
          yValueFormatString: "##0.00\"%\"",
          indexLabel: "{label} {y}",
          dataPoints: [
          {y: 50, label: "Dolor de Espalda"},
          {y: 20, label: "Resfriado Común"},
          {y: 10, label: "Fractura de Pierna"}
          ]
        }]
      });
      chart.render();
    }
  </script>
</body>
</html>
